In [1]:
import pandas as pd
import json

In [2]:
# JSON proporcionado
json_data = """
{"last_updated":1741308970,"ttl":2,"data":
{"stations":[
{"station_id":"1","num_bikes_available":23,"num_bikes_disabled":1,"num_docks_available":15,"num_docks_disabled":0,"is_installed":1,"is_renting":1,"is_returning":1,"last_reported":1741308294,"eightd_has_available_keys":false,"is_charging":false},
{"station_id":"5","num_bikes_available":2,"num_bikes_disabled":1,"num_docks_available":16,"num_docks_disabled":0,"is_installed":1,"is_renting":1,"is_returning":1,"last_reported":1741306719,"eightd_has_available_keys":false,"is_charging":false},
{"station_id":"6","num_bikes_available":1,"num_bikes_disabled":2,"num_docks_available":24,"num_docks_disabled":0,"is_installed":1,"is_renting":1,"is_returning":1,"last_reported":1741308614,"eightd_has_available_keys":false,"is_charging":false},
{"station_id":"7","num_bikes_available":3,"num_bikes_disabled":0,"num_docks_available":16,"num_docks_disabled":0,"is_installed":1,"is_renting":1,"is_returning":1,"last_reported":1741308676,"eightd_has_available_keys":false,"is_charging":false},
{"station_id":"711","num_bikes_available":0,"num_bikes_disabled":0,"num_docks_available":0,"num_docks_disabled":0,"is_installed":0,"is_renting":1,"is_returning":1,"last_reported":86400,"eightd_has_available_keys":false,"is_charging":false}
]}}
"""

In [3]:
# Cargar el JSON como diccionario
data_dict = json.loads(json_data)

In [4]:
data_dict

{'last_updated': 1741308970,
 'ttl': 2,
 'data': {'stations': [{'station_id': '1',
    'num_bikes_available': 23,
    'num_bikes_disabled': 1,
    'num_docks_available': 15,
    'num_docks_disabled': 0,
    'is_installed': 1,
    'is_renting': 1,
    'is_returning': 1,
    'last_reported': 1741308294,
    'eightd_has_available_keys': False,
    'is_charging': False},
   {'station_id': '5',
    'num_bikes_available': 2,
    'num_bikes_disabled': 1,
    'num_docks_available': 16,
    'num_docks_disabled': 0,
    'is_installed': 1,
    'is_renting': 1,
    'is_returning': 1,
    'last_reported': 1741306719,
    'eightd_has_available_keys': False,
    'is_charging': False},
   {'station_id': '6',
    'num_bikes_available': 1,
    'num_bikes_disabled': 2,
    'num_docks_available': 24,
    'num_docks_disabled': 0,
    'is_installed': 1,
    'is_renting': 1,
    'is_returning': 1,
    'last_reported': 1741308614,
    'eightd_has_available_keys': False,
    'is_charging': False},
   {'station_id': '7',
    'num_bikes_available': 3,
    'num_bikes_disabled': 0,
    'num_docks_available': 16,
    'num_docks_disabled': 0,
    'is_installed': 1,
    'is_renting': 1,
    'is_returning': 1,
    'last_reported': 1741308676,
    'eightd_has_available_keys': False,
    'is_charging': False},
   {'station_id': '711',
    'num_bikes_available': 0,
    'num_bikes_disabled': 0,
    'num_docks_available': 0,
    'num_docks_disabled': 0,
    'is_installed': 0,
    'is_renting': 1,
    'is_returning': 1,
    'last_reported': 86400,
    'eightd_has_available_keys': False,
    'is_charging': False}]}}

In [5]:
data_dict["data"]

{'stations': [{'station_id': '1',
   'num_bikes_available': 23,
   'num_bikes_disabled': 1,
   'num_docks_available': 15,
   'num_docks_disabled': 0,
   'is_installed': 1,
   'is_renting': 1,
   'is_returning': 1,
   'last_reported': 1741308294,
   'eightd_has_available_keys': False,
   'is_charging': False},
  {'station_id': '5',
   'num_bikes_available': 2,
   'num_bikes_disabled': 1,
   'num_docks_available': 16,
   'num_docks_disabled': 0,
   'is_installed': 1,
   'is_renting': 1,
   'is_returning': 1,
   'last_reported': 1741306719,
   'eightd_has_available_keys': False,
   'is_charging': False},
  {'station_id': '6',
   'num_bikes_available': 1,
   'num_bikes_disabled': 2,
   'num_docks_available': 24,
   'num_docks_disabled': 0,
   'is_installed': 1,
   'is_renting': 1,
   'is_returning': 1,
   'last_reported': 1741308614,
   'eightd_has_available_keys': False,
   'is_charging': False},
  {'station_id': '7',
   'num_bikes_available': 3,
   'num_bikes_disabled': 0,
   'num_docks_available': 16,
   'num_docks_disabled': 0,
   'is_installed': 1,
   'is_renting': 1,
   'is_returning': 1,
   'last_reported': 1741308676,
   'eightd_has_available_keys': False,
   'is_charging': False},
  {'station_id': '711',
   'num_bikes_available': 0,
   'num_bikes_disabled': 0,
   'num_docks_available': 0,
   'num_docks_disabled': 0,
   'is_installed': 0,
   'is_renting': 1,
   'is_returning': 1,
   'last_reported': 86400,
   'eightd_has_available_keys': False,
   'is_charging': False}]}

In [6]:
# Extraer la lista de estaciones
stations_data = data_dict["data"]["stations"]

In [7]:
stations_data

[{'station_id': '1',
  'num_bikes_available': 23,
  'num_bikes_disabled': 1,
  'num_docks_available': 15,
  'num_docks_disabled': 0,
  'is_installed': 1,
  'is_renting': 1,
  'is_returning': 1,
  'last_reported': 1741308294,
  'eightd_has_available_keys': False,
  'is_charging': False},
 {'station_id': '5',
  'num_bikes_available': 2,
  'num_bikes_disabled': 1,
  'num_docks_available': 16,
  'num_docks_disabled': 0,
  'is_installed': 1,
  'is_renting': 1,
  'is_returning': 1,
  'last_reported': 1741306719,
  'eightd_has_available_keys': False,
  'is_charging': False},
 {'station_id': '6',
  'num_bikes_available': 1,
  'num_bikes_disabled': 2,
  'num_docks_available': 24,
  'num_docks_disabled': 0,
  'is_installed': 1,
  'is_renting': 1,
  'is_returning': 1,
  'last_reported': 1741308614,
  'eightd_has_available_keys': False,
  'is_charging': False},
 {'station_id': '7',
  'num_bikes_available': 3,
  'num_bikes_disabled': 0,
  'num_docks_available': 16,
  'num_docks_disabled': 0,
  'is_installed': 1,
  'is_renting': 1,
  'is_returning': 1,
  'last_reported': 1741308676,
  'eightd_has_available_keys': False,
  'is_charging': False},
 {'station_id': '711',
  'num_bikes_available': 0,
  'num_bikes_disabled': 0,
  'num_docks_available': 0,
  'num_docks_disabled': 0,
  'is_installed': 0,
  'is_renting': 1,
  'is_returning': 1,
  'last_reported': 86400,
  'eightd_has_available_keys': False,
  'is_charging': False}]

In [8]:
# Convertir a DataFrame
df = pd.DataFrame(stations_data)

In [10]:
df.head(10)

,station_id,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,is_installed,is_renting,is_returning,last_reported,eightd_has_available_keys,is_charging
0,1,23,1,15,0,1,1,1,1741308294,False,False
1,5,2,1,16,0,1,1,1,1741306719,False,False
2,6,1,2,24,0,1,1,1,1741308614,False,False
3,7,3,0,16,0,1,1,1,1741308676,False,False
4,711,0,0,0,0,0,1,1,86400,False,False

In [10]:
import pandas as pd

In [9]:
datos = pd.read_csv('2025-01.csv')

In [11]:
datos.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_EstacionArribo,Fecha_Arribo,Hora_Arribo
0,M,26.0,5180930,568,31/12/2024,23:57:02,572,01/01/2025,00:00:03
1,F,54.0,3653953,283,31/12/2024,23:51:40,596,01/01/2025,00:00:41
2,M,38.0,7511322,034,31/12/2024,23:48:36,064,01/01/2025,00:00:59
3,M,41.0,3804572,258,31/12/2024,23:54:11,023,01/01/2025,00:01:08
4,M,35.0,3848405,043,31/12/2024,23:35:28,126,01/01/2025,00:01:17

In [17]:
datos.Genero_Usuario.unique()

array(['M', 'F', 'O', '?', nan], dtype=object)

In [14]:
datos.isnull().sum()

Genero_Usuario             1
Edad_Usuario             147
Bici                       0
Ciclo_Estacion_Retiro      0
Fecha_Retiro               0
Hora_Retiro                0
Ciclo_EstacionArribo       0
Fecha_Arribo               0
Hora_Arribo                0
dtype: int64

In [12]:
datos.groupby('Bici').size().sort_values(ascending=False)

Bici
8537367    467
5883434    466
8003600    462
7278658    462
6203087    460
          ...
3710266      1
7625809      1
6556245      1
3374865      1
8336364      1
Length: 7500, dtype: int64

In [13]:
datos.groupby('Ciclo_Estacion_Retiro').size().sort_values(ascending=False)

Ciclo_Estacion_Retiro
271-272    13283
548        11987
107-108    10586
064        10231
027         9922
           ...
664          479
707          469
665          445
687          432
662          398
Length: 677, dtype: int64