# Get files

In [1]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

--2025-01-23 21:58:03--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250124T035600Z&X-Amz-Expires=300&X-Amz-Signature=3a429a0d7d1cce18d905ec45db4561a75b2a4f33456a34588b0f14b381825d21&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-23 21:58:03--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250124T035600Z&X-Amz-Expires=300&X-Amz-Signature=3a429a0d7d1cce18d905ec45db4561a75b2a4f33456a34588b0f14b381825d21&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz’

green_tripdata_2019 100%[===================>]   7.88M  5.23MB/s    in 1.5s

2025-01-23 21:58:05 (5.23 MB/s) - ‘green_tripdata_2019-10.csv.gz’ saved [8262584/8262584]

In [2]:
!gunzip green_tripdata_2019-10.csv.gz

In [9]:
!wget wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-23 19:44:09--  http://wget/
Resolving wget (wget)... failed: Temporary failure in name resolution.
wget: unable to resolve host address ‘wget’
--2025-01-23 19:44:19--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250124T014420Z&X-Amz-Expires=300&X-Amz-Signature=5f8d287984aabdbb8bcb82624174d3a0e292fd852b2f885a4d124a259cf25365&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-23 19:44:20--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250124T014420Z&X-Amz-Expires=300&X-Amz-Signature=5f8d287984aabdbb8bcb82624174d3a0e292fd852b2f885a4d124a259cf25365&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2025-01-23 19:44:21 (72.7 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

FINISHED --2025-01-23 19:44:21--
Total wall clock time: 11s
Downloaded: 1 files, 12K in 0s (72.7 MB/s)

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
rides = pd.read_csv('green_tripdata_2019-10.csv')
zones = pd.read_csv('taxi_zone_lookup.csv')

/tmp/ipykernel_76120/3428918331.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  rides = pd.read_csv('green_tripdata_2019-10.csv')

In [5]:
rides.head(), rides.shape

(   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
 0       2.0  2019-10-01 00:26:02   2019-10-01 00:39:58                  N
 1       1.0  2019-10-01 00:18:11   2019-10-01 00:22:38                  N
 2       1.0  2019-10-01 00:09:31   2019-10-01 00:24:47                  N
 3       1.0  2019-10-01 00:37:40   2019-10-01 00:41:49                  N
 4       2.0  2019-10-01 00:08:13   2019-10-01 00:17:56                  N

    RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
 0         1.0           112           196              1.0           5.88
 1         1.0            43           263              1.0           0.80
 2         1.0           255           228              2.0           7.50
 3         1.0           181           181              1.0           0.90
 4         1.0            97           188              1.0           2.52

    fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
 0         18.0   0.50      0.5        0.00           0.0        NaN
 1          5.0   3.25      0.5        0.00           0.0        NaN
 2         21.5   0.50      0.5        0.00           0.0        NaN
 3          5.5   0.50      0.5        0.00           0.0        NaN
 4         10.0   0.50      0.5        2.26           0.0        NaN

    improvement_surcharge  total_amount  payment_type  trip_type  \
 0                    0.3         19.30           2.0        1.0
 1                    0.3          9.05           2.0        1.0
 2                    0.3         22.80           2.0        1.0
 3                    0.3          6.80           2.0        1.0
 4                    0.3         13.56           1.0        1.0

    congestion_surcharge
 0                   0.0
 1                   0.0
 2                   0.0
 3                   0.0
 4                   0.0  ,
 (476386, 20))

In [6]:
zones.head(), zones.shape

(   LocationID        Borough                     Zone service_zone
 0           1            EWR           Newark Airport          EWR
 1           2         Queens              Jamaica Bay    Boro Zone
 2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
 3           4      Manhattan            Alphabet City  Yellow Zone
 4           5  Staten Island            Arden Heights    Boro Zone,
 (265, 4))

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [9]:
zones.to_sql(name='zones',con=engine, if_exists='replace')

265

In [10]:
query = """
select * from zones limit 5;
""" 

pd.read_sql(query, con=engine)

   index  LocationID        Borough                     Zone service_zone
0      0           1            EWR           Newark Airport          EWR
1      1           2         Queens              Jamaica Bay    Boro Zone
2      2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3      3           4      Manhattan            Alphabet City  Yellow Zone
4      4           5  Staten Island            Arden Heights    Boro Zone

In [38]:
rides_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [39]:
!wc -l green_tripdata_2019-10.csv

476387 green_tripdata_2019-10.csv

In [40]:
df = next(rides_iter)

In [41]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [42]:
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [43]:
df.head(0).to_sql(name='green_taxi_trips',con=engine, if_exists='replace')

0

In [44]:
from time import time

In [45]:
    # ingest data to db
    df.to_sql(name='green_taxi_trips',con=engine, if_exists='append')

    while True:
        try:
            t_start = time()
            df = next(rides_iter)

            df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
            df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
            
            df.to_sql(name='green_taxi_trips',con=engine, if_exists='append')

            t_end = time()
            
            print('inserted another chunk..., took %.3f second(s)' %(t_end - t_start))
            
        except StopIteration:
            print("End of data reached. Exiting the loop.")
            break

        except Exception as e:
            print(f"Error processing chunk: {e}")
            continue  # Evita que el bucle se detenga ante un error

inserted another chunk..., took 7.801 second(s)
inserted another chunk..., took 7.924 second(s)

/tmp/ipykernel_76120/2595531975.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(rides_iter)

inserted another chunk..., took 7.872 second(s)
inserted another chunk..., took 5.181 second(s)
End of data reached. Exiting the loop.

In [46]:
query = """
select count(1) from green_taxi_trips;
""" 

pd.read_sql(query, con=engine)

    count
0  476386

In [47]:
!wc -l green_tripdata_2019-10.csv

476387 green_tripdata_2019-10.csv